cffi==2.1.0
cfgv==3.5.0
charset-normalizer==3.4.9
cryptography==50.0.0
distlib==0.4.3
filelock==3.32.2
identify==2.6.19
iniconfig==2.3.0
nodeenv==1.10.0
packaging==26.2
pdfminer.six==20260107
pdfplumber==0.11.10
pillow==12.3.0
platformdirs==4.11.0
pluggy==1.6.0
pre_commit==4.6.1
pycparser==3.0
Pygments==2.20.0
pypdfium2==5.12.1
pytest==9.1.1
python-discovery==1.5.0
PyYAML==6.0.3
ruff==0.16.0
virtualenv==21.7.0
